.container{
  padding: 48px;
}

.containerQueue{
  margin-top: 12px;
  margin-bottom: 24px;
  display: flex;
  align-items: center;
}

.containerQueue h2{
  margin-right: 8px;
}

.containerQueue ul {
  list-style: none;
  display: flex;
}

.containerQueue ul li{
  margin-right: 12px;
}

.cardQueue {
  padding: 8px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 20%;
  background: whitesmoke;
  color: black;
  height: 150px;
  border-radius: 8px;
}

.containerCounter {
  margin-top: 24px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}